#set($data = $utils.rds.toJsonObject($ctx.result)[0][0])


#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end

#if($data["user_id"] != $ctx.identity.sub)
    $util.unauthorized()
#end

$utils.toJson($utils.rds.toJsonObject($ctx.result)[0][0])